<div class="container">
  <h3>Proceed To Order <%= @menu_item.category %> Foods</h1>
  <div class="card" style="width: 31%">
    <%= cl_image_tag @menu_item.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-body">
      <p>Title: <strong><%= @menu_item.name %></strong></p>
      <p>Cost: <%= @menu_item.price %>CFA</p>
    </div>
  </div>
    <%= link_to "Edit Item", menu_edit_path(@menu_item), class: "btn btn-primary" %>
    <%= link_to "Delete Menu", menu_item_path(@menu_item), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <%= link_to "Back to Category", menu_category_path(@menu_item.category), class: "btn btn-success"  %>
<div>
