<h1>Proceed To Order from <%= @menu_item.category %> Foods</h1>
  <strong>Name: <%= @menu_item.name %></strong>
  <p>Price:<%= @menu_item.price %></p>
  <%= link_to "Edit Item", menu_edit_path(@menu_item), class: "btn btn-primary" %>
  <%= link_to "Delete Menu", menu_item_path(@menu_item), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%= link_to "Back to Category", menu_category_path(@menu_item.category), class: "btn btn-success"  %>
