<h2>Change your password</h2>
<div class="form-control">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
  <div class="form-group">
    <%= f.input :reset_password_token, as: :hidden %>
  </div>
  <div class="form-group">
    <%= f.full_error :reset_password_token %>
  </div>

    <div class="form-inputs form-group">
      <%= f.input :password,
                  label: "New password",
                  required: true,
                  autofocus: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirm your new password",
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions form-group">
      <%= f.button :submit, "Change my password" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
